<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
<title>Treasure Hunters </title>
<link rel="stylesheet" type="text/css" href="/style.css" />
<script type="text/javascript" src="/unitpngfix.js"></script>
</head>
<body>

<div id="main_container">
  <div class="top_leafs"><img src="/images/top_leafs.png" alt="" title=" "/></div>
    <div id="header">
   	  <div class="logo">
        <a href="index.html">chipotle family</a>
      </div>
      <div class="menu">
        <ul>                            
          <li><a href="/index.html">home</a></li>
          <li class="selected"><a href="/pages/theories">theories</a></li>
          <li><a href="/pages/photos">photos</a></li>
          <li><a href="/pages/tools">tools</a></li>
        </ul>
      </div>
    </div>
    <div id="center_content">
      <div class="left_content">
        <h1>Theories</h1>
        <h2>Characters</h2>
        <ul>
	      <li>William Clay - Deckhand of the Lunar Watch</li>
	      <li>Black Beard - (a.k.a. Orville Caplet) Married to William's Mother, Captain of the Jolly Time </li>
 	      <li>Janette - Black Beard's wife</li>
	      <li>Mobalena - William's twin sister, waitress of Orville Lounge</li>
	      <li>Rotten-bury Caplet - (a.k.a. Popin, a.k.a  Evil Blonde Goatee) William &amp; Mobalena's older brother?</li>
	      <li>Mr. Hand</li>
	    </ul>
	    <hr>
	    <h2>Related Literature</h2>
	    <h3><a href="http://www.imdb.com/title/tt0076759/">Star Wars</a></h3>
	    
	    <h3>Mariner's Revenge Song - Colin Meloy</h3>
	    <p>We are two mariners<br>
		Our ships' sole survivors<br>
		In this belly of a whale</p>

		<p>Its ribs are ceiling beams<br>
		Its guts are carpeting<br>
		I guess we have some time to kill</p>

		<p>You may not remember me<br>
		I was a child of three<br>
		And you, a lad of eighteen</p>

		<p>But I remember you<br>
		And I will relate to you<br>
		How our histories enterweave</p>

		<p>At the time you were<br>
		A rake and a roustabout<br>
		Spending all your money<br>
		On the whores and hounds<br>
		Oh Ohhhhh</p>

		<p>You had a charming air<br>
		All cheap and debonair<br>
		My widowed mother found so sweet</p>

		<p>And so she took you in<br>
		Her sheets still warm with him<br>
		Now filled with filth and foul disease</p>

		<p>As time wore on you proved<br>
		A debt-ridden drunken mess<br>
		Leaving my mother<br>
		A poor consumptive wretch<br>
		Oh Ohhhhh</p>

		<p>And then you disappeared<br>
		Your gambling arrears<br>
		The only thing you left behind</p>

		<p>And then the magistrate<br>
		Reclaimed our small estate<br>
		And my poor mother lost her mind</p>

		<p>Then one day in spring<br>
		My dear sweet mother died<br>
		But before she did<br>
		I took her hand as she dying cried:<br>
		Oh Ohhhhh</p>

		<p>"Find him, bind him<br>
		Tie him to a pole and break<br>
		His fingers to splinters<br>
		Drag him to a hole until he<br>
		Wakes up naked<br>
		Clawing at the ceiling<br>
		Of his grave"</p>

		<p>It took me fifteen years<br>
		To swallow all my tears<br>
		Among the urchins in the street</p>

		<p>Until a priory<br>
		Took pity and hired me<br>
		To keep their vestry nice and neat</p>

		<p>But never once in the employ<br>
		Of these holy men<br>
		Did I ever once turn my mind<br>
		From the thought of revenge<br>
		Oh Ohhhhh</p>

		<p>One night I overheard<br>
		The Prior exchanging words<br>
		With a penitent whaler from the sea</p>

		<p>The captain of his ship<br>
		Who matched you toe to tip<br>
		Was known for wanton cruelty</p>

		<p>The following day<br>
		I shipped to sea<br>
		With a privateer</p>

		<p>And in the whistle<br>
		Of the wind<br>
		I could almost hear...<br>
		Oh Ohhhhh</p>

		<p>"Find him, bind him<br>
		Tie him to a pole and break<br>
		His fingers to splinters<br>
		Drag him to a hole until he<br>
		Wakes up naked<br>
		Clawing at the ceiling<br>
		Of his grave</p>

		<p>"There is one thing I must say to you<br>
		As you sail across the sea<br>
		Always, your mother will watch over you<br>
		As you avenge this wicked deed"</p>

		<p>And then that fateful night<br>
		We had you in our sight<br>
		After twenty months at sea</p>

		<p>Your starboard flank abeam<br>
		I was getting my muskets clean<br>
		When came this rumbling from beneath</p>

		<p>The ocean shook<br>
		The sky went black<br>
		And the captain quailed</p>

		<p>And before us grew<br>
		The angry jaws<br>
		Of a giant whale</p>

		<p>Don't know how I survived<br>
		The crew all was chewed alive<br>
		I must have slipped between his teeth</p>

		<p>But, O! What providence!<br>
		What divine intelligence!<br>
		That you should survive<br>
		As well as me</p>

		<p>It gives my heart<br>
		Great joy<br>
		To see your eyes fill with fear</p>

		<p>So lean in close<br>
		And I will whisper<br>
		The last words you'll hear<br>
		Ohh Ohhhhh</p>
      </div>
      <div class="bottom_content">
        <div class="about_text">
          
        </div>
                
        <div class="friends_list">
        </div>
                
        <div class="bottom_right">
        </div>
                
        <div class="footer">
          &copy; Chipotle Family 2011. All Rights Reserved
        </div>
      </div>
    </div>
  </div>
<!-- end of main_container -->

</body>
</html>
